{% extends "parent.html" %}

{% block title %}About{% endblock %}

{% block aboutactive %}class="active"{% endblock %}

{% block content %}
	<div class="container">
		<h2>
			What is MusicGen?
		</h2>
		<p>
			MusicGen is a website that generates short musical pieces and uses user-provided ratings to determine how good each one sounds. They change over time to generate better and better songs. We hope that eventually the best samples reflect what is already known about music theory.
		</p>
		<p>
			Paragraph 2.
		</p>
		<p>
			Paragraph 2.
		</p>
		<p>
			Paragraph 2.
		</p>
		<p>
			Paragraph 2.
		</p>
		<h2>
			Why was MusicGen started?
		</h2>
		<p>
			Ethan Arnold had the idea for MusicGen in early 2014, but lacked the time to create it. While attending the Stanford Pre-Collegiate Studies summer camp for the class on Artificial Intelligence, he realized that he needed a final project using some type of AI. He decided to create this website based on the idea he had earlier, with the help of Daniel Salz.
		</p>
	</div>
{% endblock %}