{% extends "parent.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block adminactive %}class="active"{% endblock %}

{% block content %}
	<div class="container">
		<h1>Admin Dashboard</h1>
		<hr>
		<a href="/random/" class="btn btn-primary" style="float: right">
			<span class="glyphicon glyphicon-music"></span>&nbsp;
			Random
		</a>
		<h2>Songs</h2>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Listen</th>
					<th>Generation</th>
					<th># Ratings</th>
					<th>Rating</th>
					<th>Update</th>
					<th>Mutate</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for song in songs %}
					<tr
					{% if not song.latest %}class="active"
					{% elif not song.wrapper.active %}class="primary"
					{% endif %}
					>
						<td><a href="/song/{{ song.pk }}/">{{ song.pk }}</a></td>
						<td>
							{% if song.wav %}
								<audio controls>
									<source src="{{ song.wav.url }}" type="audio/wav">
									Upgrade yo browser, yo
								</audio>
							{% else %}
								Error loading file
							{% endif %}
						</td>
						<td>{{ song.generation }}</td>
						<td>{{ song.numRatings }}</td>
						<td>{{ song.avgRating }}</td>
						<td>
							<a href="/udpate/{{ song.pk }}/" class="btn btn-primary">
								<span class="glyphicon glyphicon-refresh"></span>
							</a>
						</td>
						<td>
							<a href="/mut/{{ song.pk }}/" class="btn btn-primary">
								<span class="glyphicon glyphicon-random"></span>
							</a>
						</td>
						<td>
							<a href="/del/{{ song.pk }}/" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<ul class="pager">
			{% if prevSong %}
				<li class="previous"><a href="/admind/{{ prevSongPage }}/{{ ratingPage }}/">&larr; Previous</a></li>
			{% else %}
				<li class="previous disabled"><a href="/admind/{{ songPage }}/{{ ratingPage }}/">&larr; Previous</a></li>
			{% endif %}
			{% if nextSong %}
				<li class="next"><a href="/admind/{{ nextSongPage }}/{{ ratingPage }}/">Next &rarr;</a></li>
			{% else %}
				<li class="next disabled"><a href="/admind/{{ songPage }}/{{ ratingPage }}/">Next &rarr;</a></li>
			{% endif %}
		</ul>
		<hr>
		<h2>Recent Ratings</h2>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th>User</th>
					<th>Song</th>
					<th>Rating</th>
					<th>Average</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for rating in ratings %}
					<tr {% if rating.isExtreme %}class="danger"{% endif %}>
						<td>{{ rating.user.email }}</td>
						<td><a href="/song/{{ rating.song.pk }}/">{{ rating.song.pk }}</a></td>
						<td>{{ rating.value }}</td>
						<td>{{ rating.song.avgRating }}</td>
						<td>
							<a href="/delR/{{ rating.pk }}/" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<ul class="pager">
			{% if prevRating %}
				<li class="previous"><a href="/admind/{{ songPage }}/{{ prevRatingPage }}/">&larr; Previous</a></li>
			{% else %}
				<li class="previous disabled"><a href="/admind/{{ songPage }}/{{ ratingPage }}/">&larr; Previous</a></li>
			{% endif %}
			{% if nextRating %}
				<li class="next"><a href="/admind/{{ songPage }}/{{ nextRatingPage }}/">Next &rarr;</a></li>
			{% else %}
				<li class="next disabled"><a href="/admind/{{ songPage }}/{{ ratingPage }}/">Next &rarr;</a></li>
			{% endif %}
		</ul>
	</div>
{% endblock %}