{% extends "parent.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block adminactive %}class="active"{% endblock %}

{% block content %}
	<div class="container">
		<h1>Admin Dashboard</h1>
		<hr>
		<a href="/random/" class="btn btn-primary" style="float: right">
			<span class="glyphicon glyphicon-music"></span>&nbsp;
			Random
		</a>
		<h2>Songs</h2>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Listen</th>
					<th>Generation</th>
					<th># Ratings</th>
					<th>Rating</th>
					<th>Mutate</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for song in songs %}
					<tr
					{% if not song.latest %}class="active"
					{% elif not song.wrapper.active %}class="primary"
					{% endif %}
					>
						<td>{{ song.pk }}</td>
						<td>
							<audio controls>
								<source src="{{ song.wav.url }}" type="audio/wav">
								Upgrade yo browser, yo
							</audio>
						</td>
						<td>{{ song.generation }}</td>
						<td>{{ song.numRatings }}</td>
						<td>{{ song.avgRating }}</td>
						<td>
							<a href="/mut/{{ song.pk }}" class="btn btn-primary">
								<span class="glyphicon glyphicon-random"></span>
							</a>
						</td>
						<td>
							<a href="/del/{{ song.pk }}" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}