{% extends "parent.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block adminactive %}class="active"{% endblock %}

{% block content %}
	<div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li {% block adminsongsactive %}{% endblock %}><a href="/admind/songs/0/">Songs</a></li>
			<li {% block adminratingsactive %}{% endblock %}><a href="/admind/ratings/0/">Ratings</a></li>
			<li {% block adminusersactive %}{% endblock %}><a href="/admind/users/0/">Users</a></li>
		</ul>
		{% block admincontent %}{% endblock %}
	</div>
{% endblock %}