{% extends "parent.html" %}

{% block homeactive %}class="active"{% endblock %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h1>
				MusicGen
			</h1>
			<p>
				Generate iteratively better music using genetic algorithms with the goal of rediscovering music theory through crowdsourcing.
			</p>
			<p>
				<a class="btn btn-primary btn-lg" role="button" href="/about/" >Learn more &raquo;</a>
				<a class="btn btn-success btn-lg" role="button" href="/signup/" >Get started &raquo;</a>
			</p>
		</div>
	</div>
{% endblock %}