{% extends "parent.html" %}

{% block title %}List Songs{% endblock %}

{% block listactive %}class="active"{% endblock %}

{% block content %}
	<div class="container">
		<h1>List Songs</h1>
		<p>
			Rate the following songs on a scale of 0-100 based on how much you like them. It's subjective! Make sure you click "Go" after typing each rating.
		</p>
		<p>
			Try not to rate them too harshly, though -- remember, these are entirely randomly generated. If a song gets too low a rating, it will stop evolving.
		</p>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Listen</th>
					<th>Generation</th>
					<th># Ratings</th>
					<th>Rate</th>
				</tr>
			</thead>
			<tbody>
				{% for song, hasRated in songs %}
					<tr>
						<td>{{ song.pk }}</td>
						<td>
							<audio controls>
								<source src="{{ song.wav.url }}" type="audio/wav">
								Upgrade yo browser, yo
							</audio>
						</td>
						<td>{{ song.generation }}</td>
						<td>{{ song.numRatings }}</td>
						<td>
							<form class="form-inline" role="form" action="/rate/" method="POST">
								{% csrf_token %}
								<div class="input-group">
									<input type="number" min="0" max="100" value="{{ song.avgRating }}" name="rating" class="form-control"
									{% if not song.wrapper.active %} disabled {% endif %}
									{% if hasRated %} disabled {% endif %}
									>
									<input type="hidden" name="song" value="{{ song.pk }}">
									<span class="input-group-btn">
										<input class="btn btn-primary" type="submit" value="Go">
									</span>
								</div>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}