{% extends "parent.html" %}

{% block title %}Song Info{% endblock %}

{% block listactive %}class="active"{% endblock %}

{% block content %}
	<div class="container">
		<h1>Song {{ song.pk }}</h1>
		<hr>
		<h2>History</h2>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Listen</th>
					<th>Generation</th>
					<th># Ratings</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				{% for song in history %}
					<tr>
						<td><a href="/song/{{ song.pk }}">{{ song.pk }}</a></td>
						<td>
							{% if song.wav %}
								<audio controls>
									<source src="{{ song.wav.url }}" type="audio/wav">
									Upgrade yo browser, yo
								</audio>
							{% else %}
								Error loading file
							{% endif %}
						</td>
						<td>{{ song.generation }}</td>
						<td>{{ song.numRatings }}</td>
						<td>{{ song.avgRating }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}